
  .container {
    background-color: #6a1b9a;
    text-align: center;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .weather-top , #elements{
    display: flex;
    flex-direction: row;
  }
  #elements{
    gap: 2vw;
  }
  #id {
    width: 200px;
    text-align: center;
    background: rgba(256, 256, 256, 0.75);
    border-radius: 30px;
  }
   .weather-btn{
    background-color: white;
color: #6a1b9a;

text-decoration: none;

font-weight: bold;

transition: background-color 0.3s ease;
    padding: 0;
    border-radius: 0;
    height:30px ;
    width: 60px;
    transform: translateY(+10px);
   }


.weather-btn:hover 
{
background-color: #9a93a4;
}
  input {
    border: 1px solid black;
    margin: 10px auto;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    background-color: transparent;
  }
  #location {
    font-weight: bolder;
  }
  
  #temp {
    font-weight: bolder;
  }
  #minmax {
    font-weight: 600;
  }
  #weather {
    font-weight: 600;
  }
  #speed {
    font-weight: 600;
  }
  @media screen and (max-width:450px){
    #elements{
      font-size: 13px;
    }
  }