
  .container {
    background-color: #6a1b9a;
    text-align: center;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
  }

  #elements{
    display: flex;
    flex-direction: row;
  }
  #elements{
    gap: 2vw;
  }
.weather-btn:hover 
{
background-color: #9a93a4;
}
  #loc {
    font-weight: bolder;
  }
  
  #temp {
    font-weight: bolder;
  }
  #minmax {
    font-weight: 600;
  }
  #weather {
    font-weight: 600;
  }
  #speed {
    font-weight: 600;
  }
  @media screen and (max-width:450px){
    #elements{
      font-size: 13px;
    }
  }